<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{{webRoot}}main.css">
<link rel="stylesheet" href="{{webRoot}}solarized_dark.css">
<script src="{{webRoot}}highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<title>{{sitename}}</title>
<div id="container">
<div id="sitehead">
<h1><a class="sitetitle" href="{{webRoot}}index.html">{{sitename}}</a></h1>
</div>
{{#post-content}}
<div class="post-content">{{{post-content}}}</div>
<hr>
{{/post-content}}
{{#previous}}
<div id="previous"><a href="{{previous}}">Older Posts</a></div>
{{/previous}}
{{#next}}
<div id="next"><a href="{{next}}">Newer Posts</a></div>
{{/next}}
<a href="{{webRoot}}feed">Subscribe</a>
</div>
</body>
</html>